* {
  box-sizing: border-box;
}
body {
  margin: 10;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ACBDBA;
}
header {
  background-color: #CDDDDD;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}



/*  nav tylko  */ 
.nav {
  overflow: hidden;
  background-color: #333;
}
#base{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#login{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*  nav  */



.glowny{
  padding: 10px;
  background-color: mintcream;
}

#pojedynczy{
  height: 70vh;
}
.stale{
  padding-bottom: 20vh;
  background-color: mintcream;
  padding: 10px;
}
.rightcolumn {   
  display: table-cell;
  float: right;
  width: 20%;
  height: 100%;
  padding: 10px;
  padding-bottom: 20%;
  background-color: #E7EFEF;
}

.leftcolumn {
  display: table-cell;
  float: left;
  width: 80%;
  padding: 10px;
  background-color: mintcream;
}
.column{
  display: table;
  width: 100%;
  background-color: mintcream;
}
.footer {
  background-color: #2F4550;
  text-align: center;
  height: 9%;
  padding-top: 1%;
}
a {
  text-decoration: none;
  color: white;
}

input {
  height: 5vh;
  width: 15vw;
  padding: 12px 15px;
}
